<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos familiares</title>
</head>
<h1 style="text-align: center ;">Informacion Familiar</h1>
<body style="text-align: center ;">
    {% for familiares in familiar %}
    <div style="padding-bottom: 10px;background-color: rgb(171, 219, 250); border-radius: 5%; border: 2px solid blue; width: 250px; display: inline-block;">
        <p><strong>Nombre:</strong>  {{familiares.nombre}}</p>
        <p><strong> Parentesco: </strong>{{familiares.parentesco}}</p>
        <p><strong> Edad: </strong>{{familiares.edad}}</p>
        <p><strong> Fecha de nacimiento: </strong>{{familiares.fecha_nacimiento}}</p>
    </div>
    {%endfor%}
</body>
</html>